<div class="fluid-cotainer text-none">
    <div class="row pt-3">
        <div class="col">
            <span></span>
        </div>
        <div class="col">
            <span>Made with ❤️ by Nicolas Pastorini</span><br>
            <img pTooltip="Angular" tooltipPosition="top" class="logos" src="../../../assets/img/logos/angular.png">
            <img pTooltip="Bootstrap" tooltipPosition="top" style="height: 17px; width: 17px; margin-right: 10px;" src="../../../assets/img/logos/Bootstrap_logo.svg">
            <img pTooltip="Typescript" tooltipPosition="top" style="height: 17px; width: 17px" src="../../../assets/img/logos/Typescript_logo_2020.svg.png">
        </div>
        <div class="col pb-3">
            <a pTooltip="Github"  tooltipPosition="top" href="https://github.com/NicoPastorini1" target="blank">
                <img style="height:20px;width:20px;margin-right: 10px;" src="../../../assets/img/logos/githubLogo.svg">
            </a> 
            <a pTooltip="Linkedin"  tooltipPosition="top"  href="https://www.linkedin.com/in/nicolas-pastorini/" target="blank">
            <img style="height:20px;width:20px;margin-right: 10px;" src="../../../assets/img/logos/linkedinLogo.svg">
            </a>
            <a pTooltip="Mail"  tooltipPosition="top"   href="mailto:nicolaspastorini14@gmail.com" target="blank">
            <img style="height:20px;width:20px;margin-right: 10px;" src="../../../assets/img/logos/mailLogo.svg">
            </a>
            
        </div>
    </div>
</div>

