<div class="fluid-cotainer">
    <div class="row pt-3">
        <div class="col">
            <span></span>
        </div>
        <div class="col">
            <span>Made with ❤️ by Nicolas Pastorini</span><br>
            <img class="logos" src="../../../assets/img/logos/angular.png" alt="">
            <img style="height: 17px; width: 17px; margin-right: 10px;" src="../../../assets/img/logos/Bootstrap_logo.svg" alt="">
            <img style="height: 17px; width: 17px" src="../../../assets/img/logos/Typescript_logo_2020.svg.png" alt="">
        </div>
        <div class="col pb-3">
            <a href="https://github.com/NicoPastorini1" target="blank">
                <img style="height:20px;width:20px;margin-right: 10px;" src="../../../assets/img/logos/githubLogo.svg" alt="">
            </a> 
            <a href="https://www.linkedin.com/in/nicolas-pastorini/" target="blank">
            <img style="height:20px;width:20px;margin-right: 10px;" src="../../../assets/img/logos/linkedinLogo.svg" alt="">
            </a>
            <a href="mailto:nicolaspastorini14@gmail.com" target="blank">
            <img style="height:20px;width:20px;margin-right: 10px;" src="../../../assets/img/logos/mailLogo.svg" alt="">
            </a> 
        </div>
    </div>
</div>

