<div class="fluid-container">
    <div class="row principal">
      <div class="col-sm-7 pt-5">
        <div>
                
        </div>
        <h2 class="tw">Soy Nico, <span class="hash">Desarrollador Full-Stack 💻</span> y <span class="hash">Consultor BI 📈 </span></h2>
        <teximate #teximate
                [text]="text"
                [enter]="enterAnimation">
                </teximate>
        <button class="btn-Calendly"> <a href="https://calendly.com/nicolaspastorini14" target="blank">Agenda una reunión</a></button>
        </div>
        <div class="col-sm-4">
            <!-- Lottie image traida con directiva ng-lottie -->
            <ng-lottie height="auto" [options]="options"></ng-lottie>
        </div>
    </div>
</div>
