<div class="fluid-container">
    <div class="row principal">
      <div class="col-sm-7 pt-5">
        <h2>Soy Nico, <span class="hash">Desarrollador Full-Stack 💻</span> y <span class="hash">Consultor BI 📈 </span></h2>
        <p>+1 año de experiencia como Analista de Datos y Reporting, trabajando con equipos multidisplinarios. <br>Estudiante y Programador web, con conocimientos en Angular y Java Springboot.</p>
        <button class="btn-Calendly"> <a href="https://calendly.com/nicolaspastorini14" target="blank">Agenda una reunión</a></button>
        </div>
        <div class="col-sm-4">
            <!-- Lottie image traida con directiva ng-lottie -->
            <ng-lottie height="auto" [options]="options"></ng-lottie>
        </div>
    </div>
</div>
