<div class="fluid-container">
    <div class="row-ml-4">
        <div class="col-sm-2 ml-3">
            <h3><span class="hash">#</span>Sobre Mi</h3>
        </div>
        <div class="row row1">
            <div class="col pl-7 mt-5 justify-content-center">
                <h2>Nicolas A. Pastorini</h2>
                <span>Consultor BI y Desarrollador Full-Stack</span>
                <div class="col mt-3">
                    <span>Hola! Soy Nico, tengo 22 años. Estudiante y Programador web. <br> Me principales conocimientos estan en Angular y Java. Me gustan las finanzas, el deporte 🏋🏻, los autos y motos!</span>
                </div>
            </div>
            <div class="col pb-5 col1">
                <div class="row justify-content-center">
                    <img class="img" src="../../../assets/img/1623200404477.png" alt="asd">
                </div>
            </div>
        </div>
    </div>
</div>