*{
    font-family: 'Fira Code', monospace;
}
.text-pink{
    color: #C778DD;
}
a, a:link, a:focus, a:active, a:link{
    color: white !important;
    text-decoration: none !important;
    font-family: 'Fira Code', monospace;
}

@media (max-width: 800px) {
    .imagen {
      display: none !important;
    }
}