<div class="grid grid-nogutter surface-section text-800">
    <div class="col-12 pl-6 text-center md:text-left flex align-items-center">
        <h3><span class="hash">#</span>Sobre mi</h3>
    </div>
    <div class="col-12 md:col-6 p-6 text-center md:text-left flex align-items-center ">
        <section>
            <span class="block text-6xl font-bold mb-1">Nicolas A. Pastorini</span>
            <div class="text-6x3 text-pink font-bold mb-3">Consultor BI & Desarrollador Full-Stack</div>
            <p class="mt-0 mb-4 text-100 line-height-3">+1 Año de experiencia como Analista de datos, Reporting y Consultor. Fuertes interes en el negocio de cada proyecto, el usuario y la escalabilidad. </p>
            <div class="col-12 md:col-6 lg:col-6"><a href="#" target="_blank"><button pButton type="button" class="mb-2">Ver mas</button></a></div>
        </section>
    </div>
    <div class="col-12 md:col-6 overflow-hidden imagen">
        <img src="../../../assets/img/1623200404477.png" alt="Image" class="md:ml-auto block md:h-full" style="clip-path: polygon(8% 0, 100% 0%, 100% 100%, 0 100%); width: 80vh;">
    </div>
</div>