<div class="fluid-container fondo text-none">
    <div class="row-ml-4">
        <div class="col-sm-2 ml-6">
            <h3><span class="hash">#</span>Habilidades</h3>
        </div>     
    <div class="surface-section px-4 py-8 md:px-6 lg:px-8 text-center text-none">
    <div class="mb-3 font-bold text-2xl">
        <span class="text-100">Habilidades tecnicas, </span>
        <span class="text-pink">herramientas</span>
    </div>
    <div class="text-100 text-sm mb-6">Tecnolgias que utilizo</div>
    <div class="grid">
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <img style="width: 32px; height: 32px" src="../../../assets/img/logos/angular-icon.svg" alt="">
            </span>
            <div class="text-100 mb-3 font-medium">Angular</div>
            <span class="text-100 text-sm line-height-3">Conocimientos en Event Binding, Two Way Binding, Property Binding, Directivas, ViewChild, Servicios, Routing, Child Route, HTTP Rest, Componentes y Librerias.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <img style="width: 32px; height: 32px" src="../../../assets/img/logos/java.svg">
            </span>
            <div class="text-100 mb-3 font-medium">Java</div>
            <span class="text-100 text-sm line-height-3">Programacion Orientada a Objetos, conocimientos en Manejo de errores, Collections, JSPs, Serverlets, Java EE, Hibernate, Ciclo de vida, Spring Framework, Maven.</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <img style="width: 32px; height: 32px" src="../../../assets/img/logos/typescript-icon.svg">
            </span>
            <div class="text-100 mb-3 font-medium">Typescript</div>
            <span class="text-100 text-sm line-height-3">Programacion Orientada a Objetos, Tipos de Datos, Booleanos, Operadores, Objetos, Interfaces, Condicionales, Arrays, Clases y Constructores</span>
        </div>
        <div class="col-12 md:col-4 mb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <img style="width: 32px; height: 32px" src="../../../assets/img/logos/postman-icon.svg">
            </span>
            <div class="text-100 mb-3 font-medium">Postman</div>
            <span class="text-100 text-sm line-height-3">Conocimientos en herramientas para pruebas de API Rest </span>
        </div>
        <div class="col-12 md:col-4 pb-4 px-5">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <img style="width: 32px; height: 32px" src="../../../assets/img/logos/github-icon.svg">
            </span>
            <div class="text-100 mb-3 font-medium">Git y Github</div>
            <span class="text-100 text-sm line-height-3">Uso de controlador de versiones y repositorios</span>
        </div>
        <div class="col-12 md:col-4 md:mb-4 mb-0 px-3">
            <span class="p-3 shadow-2 mb-3 inline-block surface-card" style="border-radius: 10px">
                <img style="width: 32px; height: 32px" src="../../../assets/img/logos/NgRx.svg">
            </span>
            <div class="text-100 mb-3 font-medium">NgRx</div>
            <span class="text-100 text-sm line-height-3">Aprendiendo Observables, Subscripciones, Scheduler, Operadores, Manejo de errores.</span>
        </div>
    </div>
</div>
    </div>
</div>