<div class="fluid-container">
    <div class="row-ml-4">
        <div class="col-sm-2 ml-3">
            <h3><span class="hash">#</span>Skills</h3>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-sm-4 mr-2 mt-3">
                    <ng-lottie height="auto" [options]="options"></ng-lottie>
                </div>
                <div class="col">
                    <div class="row row-cols-4">
                        <div class="col ">
                            <div class="col cuadro title">Lenguajes</div>
                            <div class="col cuadro text">Typescript <br>Javascript <br>Java <br>Python</div>
                        </div>
                        <div class="col ">
                            <div class="col  cuadro title">Frameworks</div>
                            <div class="col cuadro text">Springboot <br> Angular <br> Bootstrap</div>
                        </div>
                        <div class="col-sm-3">
                            <div class="col cuadro title">BBDD</div>
                            <div class="col cuadro text">SQL <br> NoSQL</div>
                        </div>
                        <div class="col ">
                            <div class="col cuadro title">Herramientas</div>
                            <div class="col cuadro text">VStudio <br> NetBeans <br> Postman <br> Figma<br> Git </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>